@media (max-width:576px){
	.navbar .navbar-brand {
		    margin-right: 0!important;
	}
	.banner-section {
		background-position:center center;
	}
	.banner-content h1 {
    font-size: 1.5rem!important;
	}
	.banner-content p {
    font-size: 0.8rem;
	}
}



@media (max-width:768px){
	 a.navbar-brand {
		    margin-right: 0rem!important;
	}
	.banner-section {
		background-position:center center;
	}
	.banner-content h1 {
    font-size: 2rem!important;
	}
	.banner-content p {
    font-size: 0.8rem;
	}
}


@media (max-width:992px){
	
	.banner-section {
		background-position:center center;
	}
	.banner-content h1 {
    font-size: 3rem;
	}
	.banner-content p {
    font-size: 1rem;
	}
}

