:root{
	--darkgreen:#5fcf80;
	--lightgreen:#ecf9f0;
	--white:#ffffff;
	--black:#0f1110;
	--grey:#7e9486;
	--green:#7fd999;
}
html, body{
	font-family:"Open Sans", Arial;
}
/*---Header-section starts---*/
.bg-white{
	background-color:var(--white);
}

/*---Header-section Ends---*/


/*----Banner section starts----*/
.banner-section{
	background-image: linear-gradient(rgba(13 12 12 / 25%),rgb(19 19 18 / 25%)),url(../images/hero-bg.jpg);
	background-position:left top;
	background-size:cover;
	background-attachment: fixed;
	background-repeat:no-repeat;
	background-origin: content-box;
	height:100vh;
}
.banner-content{
	color:var(--white);
}
.banner-content h1{
	font-size:4rem;
}
.banner-content p{
	font-size:1.3rem;
}
.btn-bg-color{
	background-color:var(--darkgreen);
}
/*-----Banner section ends----*/

/*----About-section starts----*/

.abt-image{
	width:100%;
}
.list-style-type-none{
	list-style-type:none;
}

.abt-content ul li i{
	color:var(--darkgreen);
}
/*---About section ends----*/


/*---number section starts----*/
.number-section{
	background-color:#f6f7f6;
}
.num-content{
	padding:2rem;
}

.num-content h1{
	color:var(--darkgreen);
	font-weight:700;
}

.num-content p{
	font-weight:500;
}
/*---number section ends----*/

/*----card-section starts----*/
.mentor-content{
	background-color:var(--darkgreen);
	color:var(--white);
	border-color:var(--darkgreen)
}
.button-div{
	width:100%;
}

.btn-color{
	background-color:var(--green);
	color:var(--white);
}
.button-div .btn-color:hover{
	color:var(--darkgreen);
	background-color:var(--white);
}
.mentor-content h2{
	font-weight:700;
}
.mentor-content p{
	font-size:1.1rem;
}
.icon-section{
	border:1px solid var(--grey);
}
.margin-0{
	margin-bottom:0rem;
}	
.icon-cover{
	width:4rem;
	height:4rem;
	border-radius:50%;
	background-color:var(--lightgreen);
}
.item-center{
	margin:2rem auto;	
}
.icon-cover i{
	font-size:1.5rem;
	color:var(--darkgreen);
}
.icon-section p{
	color:var(--grey);
}
/*---card section ends----*/

/*----company-section starts----*/
.company-name {
	border:1px solid var(--grey);	
	font-family:"Open Sans", Arial;
}
.company-name i{
	font-size:1.5rem;
}
.color-1{
	color:#ffbb2c;
}
.color-2{
	color:#5578ff;
}
.color-3{
	color:#e80368;
}
.color-4{
	color:#e361ff;
}
.color-5{
	color:#47aeff;
}
.color-6{
	color:#ffa76e;
}
.color-7{
	color:#11dbcf;
}
.color-8{
	color:#4233ff;
}
.color-9{
	color:#b2904f;
}
.color-10{
	color:#b20969;
}
.color-11{
	color:#ff5828;
}
.color-12{
	color:#29cc61;
}
.company-name:hover{
	border:1px solid var(--darkgreen);
}
.company-name:hover p{
	color:var(--darkgreen);
	
}
/*---company section ends----*/

/*---title section starts----*/
.title-sec{
	background-color:var(--darkgreen);
}
.title-color{
	color:var(--white);
	
}
/*---title section ends----*/

/*---course section starts----*/
.course-title{
	font-family:"Open Sans", Arial;
	position:relative;
}

.course-title::after{
	content:"";
	position:absolute;
	width:7rem;
	height:1px;
	background-color:var(--darkgreen);
	top:0.8rem;
	left:6rem;
}
.course-contact{
	position:relative;
}
.course-contact::before{
	content:"";
	position:absolute;
	width:100%;
	height:1px;
	background-color:#d2d2d2;
	top:0;
	left:0;
}

.image-src{
	width:3rem;
	height:3rem;
}
.contact-detail i{
	color:#d2d2d2;
}
.card-body h4:hover{
	color:var(--darkgreen);
}
/*---course section ends----*/

/*---Trainer section starts----*/
.fz-thin{
	font-size:0.8rem;
}
.color-dim{
	color:#acacac;
}
.color-bright{
	color:#7f7f7f;
}
.icon-div{
	width:100%;
	font-size:1.2rem;
	color:var(--grey);
	transition-duration:1s;
}
.icon-div i:hover {
	color:var(--darkgreen);
}
/*---Trainer section ends----*/


/*---Event section starts----*/
.event-img-div{
	width:100%;
	overflow:hidden;
}
.event-img{
	transform:scale(1,1);
	transition-duration:1s;
	z-index:-1;
}
.event-container .event-content{
	position:relative;
	z-index:1;
	margin-top:-70px;
}
.inner-content{
	background-color:var(--white);	
	border-top:0.3rem solid var(--white);
}
.event-container:hover .event-img{
	transform:scale(1.1,1.1);
}
.event-container:hover .event-content .inner-content{
	border-top:0.3rem solid var(--darkgreen);
}
.event-container:hover .event-content .inner-content h5{
	color:var(--darkgreen);
}

/*---Event section ends----*/

/*---Pricing section starts----*/
.color-darkgreen{
	color:var(--darkgreen);
}
.fz-small{
	font-size:1rem;
}
.border-dim{
	border-color:#f7f7f7;
}
.border-card{
	border-color:#eef0ef;
}
.pricing-box{
	position:relative;
	overflow:hidden;
}
.advanced{
	width:150px;
	text-align:center;
	background-color:var(--darkgreen);
	color:var(--white);
	font-size:14px;
	transform:rotate(45deg);
	position:absolute;
	top:16px;
	right:-45px;
}
/*---Pricing section ends----*/

/*---contact section starts----*/
.icon-features{
	border-radius:50%;
	background-color:var(--lightgreen);
	color:var(--darkgreen);
	font-size:1.5rem;
	transition-duration:1s;
}
.contact:hover .icon-features{
	background-color:var(--darkgreen);
	color:var(--white);
}
/*---contact section ends----*/

/*---Footer section starts----*/
.footer-section{
	background-color:#f9faf9;
}

.list-style-type-none li{
	display:block;
}
.border-footer{
	border:1px solid #eef0ef;
	background-color:var(--white);
}
.input-class{
	width:100%;
	border:none;
	background-color:var(--white);
}
/*---Footer section ends----*/

/*---End section starts----*/
.end{
	background-color:#eef0ef;
}
.end-icon{
	width:2rem;
	height:2rem;
	border-radius:50%;
	font-size:1rem;
	transition-duration:1s;
}
.end-icon:hover{
	background-color:var(--green);
}
/*---End section ends----*/