:root{
	--darkgreen:#5fcf80;
	--lightgreen:#ecf9f0;
	--white:#ffffff;
	--black:#0f1110;
	--grey:#7e9486;
}



/*---Header-section starts---*/
.bg-white{
	background-color:var(--white);
}

/*---Header-section Ends---*/


/*----Banner section starts----*/
.banner-section{
	background-image: linear-gradient(rgba(13 12 12 / 25%),rgb(19 19 18 / 25%)),url(../images/hero-bg.jpg);
	background-position:left top;
	background-size:cover;
	background-attachment: fixed;
	background-repeat:no-repeat;
	background-origin: content-box;
	height:100vh;
}
.banner-content{
	color:var(--white);
}
.banner-content h1{
	font-size:4rem;
}
.banner-content p{
	font-size:1.3rem;
}
.btn-bg-color{
	background-color:var(--darkgreen);
}
/*-----Banner section ends----*/

/*----About-section starts----*/

.abt-image{
	width:100%;
}
.list-style-type-none{
	list-style-type:none;
}

.abt-content ul li i{
	color:var(--darkgreen);
}
/*---About section ends----*/


/*---number section starts----*/
.number-section{
	background-color:#f6f7f6;
}
.num-content{
	padding:2rem;
}

.num-content h1{
	color:var(--darkgreen);
	font-weight:700;
}

.num-content p{
	font-weight:500;
}
/*---number section ends----*/